@import '@/shared/styles/utils';

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  font-size: 48px;
  overflow: clip;
  margin: 0 0 24px 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;

  span {
    display: inline-block;
    animation: fly-in 300ms ease-out;
    animation-fill-mode: forwards;
    transform: translateY(-100%);

    &:nth-child(1) {
      $color1: rgba(248, 80, 50, 1);
      $color2: rgba(190, 33, 17, 1);
      @include text-gradient(linear-gradient(to right, $color1, $color2));
    }

    &:last-child {
      $color1: rgba(160, 68, 255, 1);
      $color2: rgba(106, 48, 147, 1);
      @include text-gradient(linear-gradient(to right, $color1, $color2));
      animation-delay: .5s;
    }
  }
}

@keyframes fly-in {
  to { transform: translateY(0%); }
}

.paragraph {
  max-width: 600px;
  width: 100%;
  text-align: center;
  line-height: 30px;
  color: #fff;

  margin: 0 10px;
  margin-bottom: 48px;
}