@use 'sass:color';

.button {
  $color1: rgba(248, 80, 50, 1);
  $color2: rgba(190, 33, 17, 1);
  $color3: color.scale($color2, $lightness: -10%);
  $color4: color.scale($color3, $lightness: -40%);
  background: linear-gradient(to right, $color1, $color2, $color3, $color4);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px 28px 8px 28px;
  background-size: 400%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition-duration: 300ms;
  transition-property: box-shadow, transform, background-position-x;
  
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  font-family: inherit;

  &:hover {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  }

  &:active:hover {
    transform: scale(0.9);
    background-position-x: 100%;
  }
}